<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hostels"
        tools:targetApi="31">
        <activity
            android:name="com.Hostel.Accomomate.DataBaseContract1"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.Hostel.Accomomate.DataBaseHelper1"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.Hostel.Accomomate.StudentListViewActivity"
            android:label="@string/app_name">

            <!-- You can add other configuration attributes here -->
        </activity>
        <activity
            android:name="com.Hostel.Accomomate.DataBaseContract"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.Hostel.Accomomate.Student"
            android:exported="false" />
        <activity
            android:name="com.Hostel.Accomomate.AntiRagging"
            android:exported="false" />
        <activity
            android:name="com.Hostel.Accomomate.Food"
            android:exported="false" />
        <activity
            android:name="com.Hostel.Accomomate.Fee"
            android:exported="false" />
        <activity
            android:name="com.Hostel.Accomomate.MainActivity2"
            android:exported="false" />
        <activity
            android:name="com.Hostel.Accomomate.Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Hostel.Accomomate.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>